<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>TOMOHIRO KAWAGUCHI</title>
    <meta name="description" content="LP練習" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
  
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- ヘッダー -->
    <header id="header">
     <div class="header-div">
      <h1 class="site-title">
        <a href="#">
          TOMOHIRO KAWAGUCHI
        </a>
      </h1>
      <nav>
        <ul>
          <li><a href="#about">About Me</a></li>
          <li><a href="#Skill">Skill</a></li>
          <li><a href="#Portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="https://github.com/kawahiro673/" target="_blank" rel="noopener noreferrer">
                <img src="./img/Github.png" alt="Github" class="icon">
              </a>
          </li>
        </ul>
      </nav>
     </div>
    </header>

    <main>
      <!-- メインビジュアル -->
      <div id="mainvisual">
        <picture>
          <!-- <source media="(max-width: 600px)" srcset="/img/main-sp.png"> -->
          <img src="/img/main-pc.png" alt="トップ画像" class="main-img">
        </picture>
      </div>
      
      <!-- About Me-->
      <section id="about" class="wrapper">
        <h2 class="sec-title">About Me</h2>
        <div class="top-profile">
          <p>TOMOHIRO KAWAGUCHI</p>
          <p>1996年7月3日（27歳）</p>
          <p>ポートフォリオをご覧いただきありがとうございます！<br>開発エンジニアを目指している川口です。<br>
             現在はWeb制作をメインに毎日勉強を掲げプログミングの勉強を進めています。</p>
          <br>
          <br>
          <p>Personal History</p>
        </div>
        <dl>
          <dt>2019/3/31</dt>
          <dd>芝浦工業大学工学部情報工学科　卒業</dd>
          <dt>2019/4/1</dt>
          <dd>株式会社日企　入社</dd>
          <dt>2021/3/31</dt>
          <dd>株式会社日企　退社</dd>
          <dt>2021/10/1</dt>
          <dd>株式会社レグルカセ（現：エイトビット株式会社）　入社</dd>
          <dt></dt>
          <dd>現在に至る</dd>
        </dl>
      </section>
      <!-- Skill -->
      <section id="Skill" class="wrapper">
        <h2 class="sec-title">Skill</h2>
        <ul>
          <li><i class="fab fa-html5"></i><p>HTML</p><p>★★☆</p><p>0.5年</p></li>
          <li><i class="fab fa-css3-alt"></i><p>CSS</p><p>★☆☆</p><p>0.5年</p></li>
          <li><i class="fab fa-js"></i><p>JavaScript</p><p>★★☆</p><p>1年</p></li>
          <li><img src="./img/jQuery.png" alt="jQuery"><p>jQuery</p><p>★☆☆</p><p>0.5年</p></li>
          <li><i class="fab fa-node nodejs"></i><p>Node.js</p><p>★★☆</p><p>0.5年</p></li>
          <li><img src="./img/mysql-150.png" alt="MySQL"><p>MySQL</p><p>★★☆</p><p>0.5年</p></li>
        </ul>
      </section>
      <!-- Portfolio -->
      <section id="Portfolio" class="wrapper">
        <h2 class="sec-title">Portfolio</h2>
        <a href="https://knowhownote-106672fa32dd.herokuapp.com/" target="_blank">
          <img src="./img/KnowHowNote.png" alt="KnowHowNote">
        </a>
      </section>
      <!-- Contact -->
      <section id="contact" class="wrapper">
        <h2 class="sec-title">Contact</h2>
        <p>お問い合わせは以下のフォームから
        </p>
        <form action="#" method="post">
          <dl>
            <dt><label for="name">お名前</label></dt>
            <dd><input type="text" id="name" class="contact-input"></dd>
            <dt><label for="email">メールアドレス</label></dt>
            <dd><input type="email" id="email" class="contact-input"></dd>
            <dt><label for="name">内容</label></dt>
            <dd><textarea id="textarea" cols="30" rows="10" class="contact-input"></textarea></dd>
          </dl>
          <p id="message" style="display: none">入力されていない情報があります</p>
          <div class="button"><input type="button" value="送信" id="submitButton"></div>
        </form>
      </section>

      <!-- Footer -->
      <footer id="footer"></footer>
    </picture>
  </div>
    </main>
  <script type="module" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  </body>
</html>
